<div class="row flex-lg-row-reverse align-items-center justify-content-center g-5 py-4 mb-4">
<div class="col-12 col-lg-6">
    <img src="/img/hero-image.png" width="607" height="510" class="d-block mx-auto img-fluid" loading="lazy" alt="Smart-Homemaderecipes">
</div>
    <div class="col-12 col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Huge Spectrum of Recipes Just for You!!!</h1>
        <p class="lead"> Expore our huge Spectrum of delicious and tasty Recipes Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis omnis ab optio dolorum veritatis qui cupiditate hic magni quod. </p>
        
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/explore-lastest" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Explore Latest</a>
            <a href="/random-recipe" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Chop Randomly</a>
        </div>

    </div>

</div>

<!-- Categories Start-->
   <div class="row row-cols-2 row-cols-6 g-3 g-2-lg-3 py-4">

        <a href="#" class="col text-center category_link">
            <div class="category_img shadow">
                <img src="img/american-food.jpg" alt="American food" loading="lazy">
            </div>
            <div class="pt-1">American Food</div>
        </a>


        <a href="#" class="col text-center category_link">
            <div class="category_img shadow">
                <img src="img/american-food.jpg" alt="American food" loading="lazy">
            </div>
            <div class="pt-1">American Food</div>
        </a>

        <a href="#" class="col text-center category_link">
            <div class="category_img shadow">
                <img src="img/american-food.jpg" alt="American food" loading="lazy">
            </div>
            <div class="pt-1">American Food</div>
        </a>

        <a href="#" class="col text-center category_link">
            <div class="category_img shadow">
                <img src="img/american-food.jpg" alt="American food" loading="lazy">
            </div>
            <div class="pt-1">American Food</div>
        </a>

        <a href="#" class="col text-center category_link">
            <div class="category_img shadow">
                <img src="img/american-food.jpg" alt="American food" loading="lazy">
            </div>
            <div class="pt-1">American Food</div>
        </a>

        <a href="/categories" class="col text-center category_link">
            <div class="category_img shadow">
                <img src="img/view-all.jpg" alt="view-all categories" loading="lazy">
            </div>
            <div class="pt-1">View all</div>
        </a>

    </div>
<!-- End of categories -->

<!-- lastest start -->
    <section class="pb-4 pt-4">
        <div class="d-flex mb-2 align-items-center">
            <h2>Lastest Recipes</h2>
            <a href="/explore-lastest" class="ms-auto">View More</a>
        </div>

        <div class="row row-cols-sm-5 row-cols-lg-5 g-2 g-lg-3">
            <a href="/recipe/#" class="col text-center category_link">
                <div class="category_img category_img--large shadow">
                    <img src="img/chocolate-banoffe-whoopie-pies.jpg" alt="Chocolate Banoffe Whoopie Pies" loading="lazy">
                </div>
                <div class="pt-1">Chocolate Banoffe Whoopie Pies</div>
            </a>

            <a href="/recipe/#" class="col text-center category_link">
                <div class="category_img category_img--large shadow">
                    <img src="img/chocolate-banoffe-whoopie-pies.jpg" alt="Chocolate Banoffe Whoopie Pies" loading="lazy">
                </div>
                <div class="pt-1">Chocolate Banoffe Whoopie Pies</div>
            </a>

            <a href="/recipe/#" class="col text-center category_link">
                <div class="category_img category_img--large shadow">
                    <img src="img/chocolate-banoffe-whoopie-pies.jpg" alt="Chocolate Banoffe Whoopie Pies" loading="lazy">
                </div>
                <div class="pt-1">Chocolate Banoffe Whoopie Pies</div>
            </a>

            <a href="/recipe/#" class="col text-center category_link">
                <div class="category_img category_img--large shadow">
                    <img src="img/chocolate-banoffe-whoopie-pies.jpg" alt="Chocolate Banoffe Whoopie Pies" loading="lazy">
                </div>
                <div class="pt-1">Chocolate Banoffe Whoopie Pies</div>
            </a>

            <a href="/recipe/#" class="col text-center category_link">
                <div class="category_img category_img--large shadow">
                    <img src="img/chocolate-banoffe-whoopie-pies.jpg" alt="Chocolate Banoffe Whoopie Pies" loading="lazy">
                </div>
                <div class="pt-1">Chocolate Banoffe Whoopie Pies</div>
            </a>

           

        </div>
    </section>
 <!-- lastest End -->

 <!-- Submit form -->

    <section class="px-4 py-5 my-5 text-center">
     <img src="/img/publish-recipe.png" class="d-block mx-auto mb-4 img-fluid" width="566" height="208" alt="publish-recipe for free today" loading="lazy">
        <h1 class="display-5 fw-bold lh-1 mb-3">Publish Recipe for Free Today!</h1>
        <p class="lead mb-4">
            publish your recipes in front of thousands of people for free.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/submit-recipe" class="btn btn-primary btn-dark btn-lg">Submit Recipe</a>
        </div>
    </section>
  <!-- submit form end  -->